# Github token used by gh cli.
# Claude Code can also use gh cli.
#GH_TOKEN=your_github_token

# Claude Code user level config directory.
# This mapping ensures that your host machine's user level claude config
# directory is used by dev conatiner as well.  Update the path below to point to
# your host machine's user level claude config dir.
# Note: This path should already have been mounted via your devcontainer.json
# (${localEnv:HOME}${localEnv:USERPROFILE}/.claude).
#CLAUDE_CONFIG_DIR=/home/rahul/.claude

# Default anthropic model upon start.
# I generally prefer to use Opus for the superppowers brainstorming and
# writing-plans steps and then swtich to Sonnet for implementing the plan.  This
# override ensures that when I start Claude Code after switching to Sonnet in
# the previous session, the new session still starts with the Opus model. 
#ANTHROPIC_MODEL=opus